html,
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open+Sans", sans-serif;
  background-color: white;
  overflow-x: hidden;
}
/*Web title text styling*/
h1 {
  color: rgb(33 55 86);
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0;
}
/*Web title container styling*/
.web-title {
  color: #e9ede4;
  font-size: 21px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 20px;
  align-items: center;
}

.web-title > img {
  filter: drop-shadow(0 0 10px #ddd);
}

.web-title > h1 {
  text-shadow: 1px 3px 2px #ddd;
}
/*Button redirect to compare page*/
.compare-btn,
.management-btn,
#add-repo-btn {
  margin-left: auto;
  margin-right: 5%;
  margin-bottom: 0;
  margin-top: 0 !important;
  text-decoration: none;
  font-weight: bold;
  font-size: inherit;
}

/* COMMON STYLING FOR EVERY DISPLAY*/

/*  Commits per author and code lines in file per project Graph container Styling */
.commits-per-author-container,
.code-lines-in-files-per-project-container,
.commits-over-time-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: transparent;
  border: 1px solid rgba(103, 101, 101, 0.39);
  box-shadow: 0 10px 20px rgba(103, 101, 101, 0.23);
  border-radius: 20px;
}

/*  Commits per author Table and chart and
    code lines in file per project table and chart
    Styling
*/
.commits-per-author-chart-content,
.table-wrapper,
.code-lines-in-file-per-project-content,
.code-lines-in-files-per-project-table-wrapper,
.commits-over-time-chart-content,
.commits-over-time-table-wrapper {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
  min-width: 0; /* Allow shrinking within flex containers */
}

/*  Code lines in file per project and  Commits per authorTitle Styling */
.commits-per-authors-title h2,
.code-lines-in-file-per-project-title h2,
.commits-over-time-title h2 {
  font-family: "Open+Sans", sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 10px 0 30px;
  color: #47ae31;
  font-weight: 600;
}

/* Code lines in file per project and Commits per author text description Styling */
.commits-per-author-description,
.code-lines-in-files-per-project-description,
.commits-over-time-description {
  margin: 15px 0;
  font-family: "Open+Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: rgb(33 55 86);
}
/* Table Block */
.table-block {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 4%;
  margin-top: 50px;
}
/* Overall tables Styling and Responsiveness */

/* All tables style */
table {
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  table-layout: fixed; /* Fixed layout for consistent cell widths */
  width: 100%; /* Adjust to container size */
}
table td:first-child {
  width: 10%; /* Adjust the percentage as needed */
  max-width: 10%; /* Optional: Ensure the width doesn't exceed this value */
  overflow: hidden; /* Prevent content overflow */
  text-overflow: ellipsis; /* Add "..." if the content is too wide */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Tables titles' Styling */
th {
  background-color: #47ae31;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  max-width: 10px;
}

/* Tables content styling */
td {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add "..." for truncated text */
  max-width: 150px; /* Set a maximum width for cells */
}

/* Optional: Add a tooltip to display full text on hover */
td:hover {
  overflow: visible;
  white-space: normal;
  position: relative;
  z-index: 1;
  background-color: #f2f2f2;
  cursor: pointer;
}

/*tables rows colors(odds white,even gray)*/
tr:nth-child(odd) {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

/* Tables Hover Effect */
/*tr:hover {*/
/*  background-color: #f2f2f2;*/
/*  cursor: pointer;*/
/*}*/
/* COMMITS PER AUTHOR STYLING */

/*  Commits per author Chart content Styling */
.commits-per-author-chart-content {
  margin-right: 100px;
  margin-left: -50px;
}

/*  Commits per author Table container Styling */
.table-wrapper {
  flex: 1 1 50%;
  margin-top: 40px;
  margin-left: -50px;
  margin-right: 50px;
}
/*  plotly Chart Styling */
.plotly-graph {
  width: 600px;
  height: 300px;
  background-color: #f9f9f9;
  border-radius: 12px;
  border: 1px solid rgba(103, 101, 101, 0.2);
  box-shadow: 0 0 20px rgba(103, 101, 101, 0.08);
}

.button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #47ae31;
  border-color: transparent;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

/* Hover effect for the button */
.button:hover {
  background-color: transparent;
  border-color: #43972a;
  transform: scale(1.05);
  color: black;
}

/* Active (click) effect for the button */
.button:active {
  transform: scale(0.95);
}

#button-group {
  display: flex;
  gap: 1em;
  margin-left: auto;
}

/*CODE LINES IN FILE PER PROJECT STYLING*/

/*code lines in files per project tables wrapper*/
.code-lines-in-files-per-project-table-wrapper {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: -50px;
}

/* codel lines in file per project content Styling */
.code-lines-in-file-per-project-content {
  margin-right: -50px;
  margin-left: 100px;
}
/*COMMITS OVER TIME STYLING*/
.commits-over-time-chart-content {
  margin-right: -20px;
  margin-left: -30px;
  margin-bottom: 0;
}

.commits-over-time-table-wrapper {
  margin-top: 40px;
  margin-left: 0;
  margin-right: 10px;
}

/* Repositories dropdown and its label */
#repos-dropdown {
  font-size: inherit;
  background: white;
  border: 0;
  border-left: solid 2px #47ae31 !important;
  padding: 5px 5px;
}

#repos-dropdown-label {
  color: white;
  height: 100% !important;
  position: relative;
  background: #47ae31;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  margin: auto;
}

#repo-container {
  margin-left: 3em;
  margin-right: 5%;
  border: solid 2px #43972a;
  background: #47ae31;
  border-radius: 5px 5px 5px 5px;
}

#topbar {
  display: flex;
  gap: 1em;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Responsive Design */
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .commits-per-author-chart-content,
  .code-lines-in-file-per-project-content,
  .commits-over-time-chart-content {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .table-wrapper,
  .code-lines-in-files-per-project-table-wrapper,
  .commits-over-time-table-wrapper {
    flex: 1 1 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .plotly-graph {
    max-width: 100%;
    overflow-y: hidden !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .table-block {
    display: block;
  }

  .most-table,
  .least-table {
    width: 100%;
  }
  .most-table {
    margin-bottom: 10px;
  }
  .commits-per-author-chart-content,
  .code-lines-in-file-per-project-content,
  .commits-over-time-chart-content {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .table-wrapper,
  .code-lines-in-files-per-project-table-wrapper,
  .commits-over-time-table-wrapper {
    flex: 1 1 100%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 999px) {
  .commits-per-author-container,
  .code-lines-in-files-per-project-container,
  .commits-over-time-container {
    flex-direction: column;
  }

  .commits-per-author-chart-content,
  .table-wrapper,
  .code-lines-in-file-per-project-content,
  .code-lines-in-files-per-project-table-wrapper,
  .commits-over-time-chart-content,
  .commits-over-time-table-wrapper {
    flex: 1 1 50%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .table-wrapper,
  .code-lines-in-files-per-project-table-wrapper,
  .commits-over-time-table-wrapper {
    margin-top: 40px;
    grid-template-columns: 1fr;
  }
  .plotly-graph {
    overflow: hidden;
    width: 100%;
  }
}

/* Repository Management Section */
.repository-management-container {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.repository-management-container .button{
  margin: 0px;
}

.repo-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.repo-input label {
  font-weight: bold;
}

.repo-input input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.repo-input button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #47ae31;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.repo-input button:hover {
  background-color: #3d972a;
}

#management-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#management-table th,
#management-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#management-table th {
  background-color: #3d972a;
}

#management-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#management-table tbody tr:hover {
  background-color: #f2f2f2;
}

#management-table td button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #47ae31;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

#management-table td button.delete-button {
  background-color: #ff0000;
}

#management-table td button.update-button {
  background-color: #0077ff;
}

#management-table td button.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

#management-table td button.update-button:hover {
  background-color: rgba(0, 119, 255, 0.6);
}

@media only screen and (max-width: 810px) {
  #topbar {
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 0 0 100%;
  }
  #button-group {
    margin-left: 1em;
  }
  #repo-container {
    margin: 0;
  }
}